.footer {
  &.style-2 {
    .footer-widget{
      &.top-footer-widget{
        border-right: 1px solid #273447;
        padding-right: 64px;
        display: flex;
        justify-content: space-between;
        @include rmaxwd(1200){
          border: none;
          padding-right: 0;
        }
        @include sm{
          flex-direction: column;
          gap: 30px;
        }
      }
      .footer-widget-title{
        &.social-title{
          font-family: $body-font;
          font-size: 28px;
          font-weight: 700;
          line-height: 36.4px;
          color: $white;
          width: 250px;
          margin-bottom: 0;
        }
      }
      .footer-widget-social{
        .social-profile{
          a{
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            background-color: $primary-color;
          }
        }
      }
      .footer-widget-logo{
        .desc{
          font-family: $body-font;
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-top: 24px;
          width: 340px;
          @include rmaxwd(1200){
            width: 100%;
          }
        }
      }
    }
    .footer-widget-menu-wrapper{
      padding-left: 0;
      gap: 148px;
    }
    .subscribe-form-wrapper{
      display: flex;
      justify-content: space-between;
      padding-left: 46px;
      @include rmaxwd(992){
        padding-left: 0;
      }
      @include sm{
        flex-direction: column;
        gap: 30px;
      }
      .title{
          font-family: $body-font;
          font-size: 28px;
          font-weight: 700;
          line-height: 36.4px;
          color: $white;
          width: 250px;
      }
      .subscribe-form-widget{
        .mc4wp-form-fields{
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #273447;
        }
        .single-field{
          input{
            height: 60px;
            padding: 16px 24px;
            border-radius: 0px;
            background-color: #273447;
          }
        }
        .submit-btn {
          width: 48px;
          height: 48px;
          border-radius: 8px;
          margin-right: 8px;
          flex-shrink: 0;
          background-color: $primary-color;
          color: $white; 
          background: $primary-color !important;
          -webkit-background-clip: unset; 
          -webkit-text-fill-color: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          i{
            color: $white;
            @include transition;
          }
          &:hover{
            i{
              margin-right: -12px;
              @include transition;
            }
          }
        }
        
      }
    }
    .divider{
      @include md{
        margin-top: 50px;
      } 
    }
  }
}

