.tour-area{
    .location-area{
        &.style-1{
            
        }
    }
}
.isotope-tour{
    .portfolio-filter{
        margin-top: 17px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 0;
        @include rmaxwd(992){
            flex-wrap: wrap;
            justify-content: start;
            align-items: start;
        }
        @include sm{
            gap: 6px;
            justify-content: center;
            align-items: center;
        }
        li{
            cursor: pointer;
            @extend .theme-btn;
            &.active{
                background-color: $primary-color !important;
            }
            &:hover{
                &:after{
                    height: 0 !important;
                }
            }
        }
    }
    .basic-pagination{
        margin-top: 64px;
        margin-bottom: 0px;
    }

    .location-card{
        &.style-2{
            .image-wrapper{
                height: 272px;
                img{
                    height: 272px;
                }
            }
        }
    }
}
.trip-content-area{
    padding: 120px 0;
    @include md{
        padding: 100px 0;
    }
    @include sm{
        padding: 80px 0;
    }
}
.wp-travel-toolbar{
    border-radius: 8px;
    border: 1px solid $gray-2;
    margin-bottom: 40px;
}
.category-trips-single-inner-wrap{
    padding: 0 !important;
    border-radius: 16px !important;
    border: 1px solid $gray-2;
    box-shadow: none !important;
    overflow: hidden;
    .category-trip-fig{
        a{
            border-radius: 16px !important;
        }
    }
}