.tour-area{
    .location-area{
        &.style-1{
            
        }
    }
}
.isotope-tour{
    .portfolio-filter{
        margin-top: 17px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include rmaxwd(992){
            flex-wrap: wrap;
            justify-content: start;
            align-items: start;
        }
        @include sm{
            gap: 6px;
            justify-content: center;
            align-items: center;
        }
        li{
            cursor: pointer;
            @extend .theme-btn;
            &.active{
                background-color: $primary-color !important;
            }
            &:hover{
                &:after{
                    height: 0 !important;
                }
            }
        }
    }
    .basic-pagination{
        margin-top: 64px;
        margin-bottom: 0px;
    }

    .location-card{
        &.style-2{
            .image-wrapper{
                height: 272px;
                img{
                    height: 272px;
                }
            }
        }
    }
}