.tour-area{
    .location-area{
        &.style-1{
            
        }
    }
}
.isotope-tour{
    .portfolio-filter{
        margin-top: 17px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 0;
        @include rmaxwd(992){
            flex-wrap: wrap;
            justify-content: start;
            align-items: start;
        }
        @include sm{
            gap: 6px;
            justify-content: center;
            align-items: center;
        }
        li{
            cursor: pointer;
            @extend .theme-btn;
            &.active{
                background-color: $primary-color !important;
            }
            &:hover{
                &:after{
                    height: 0 !important;
                }
            }
        }
    }
    .basic-pagination{
        margin-top: 64px;
        margin-bottom: 0px;
    }

    .location-card{
        &.style-2{
            .image-wrapper{
                height: 272px;
                img{
                    height: 272px;
                }
            }
        }
    }
}
.trip-content-area{
    padding: 120px 0;
    padding-bottom: 90px;
    @include md{
        padding: 100px 0;
        padding-bottom: 70px;
    }
    @include sm{
        padding: 80px 0;
        padding-bottom: 50px;
    }
}
.wp-travel-toolbar{
    border-radius: 8px;
    border: 1px solid $gray-2;
    margin-bottom: 40px;
}
.category-trips-single-inner-wrap{
    padding: 0 !important;
    border-radius: 16px !important;
    border: 1px solid $gray-2;
    box-shadow: none !important;
    overflow: hidden !important;
    .category-trip-fig{
        a{
            border-radius:0 !important;
            @include rmaxwd(1280){
                padding-top: 100% !important;
            }
        }
    }
}
.category-trip-content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
   @include rmaxwd(767){
    padding: 20px;
   }
    .category-trip-desc{
        cursor: default;
    }
    .category-trip-dur{
        cursor: default;
    }
    .discount-offer{
        cursor: default;
    }
    .actual-price{
        cursor: default;
    }
    .striked-price{
        cursor: default;
    }
}
.advanced-search-wrapper{
    .clear-search-criteria{
        color: $primary-color !important;
        text-decoration: none !important;
    }
}
.wpte-booking-area{
    box-shadow: none;
    background-color:$black-3 !important;
    .wpte-bf-discount-tag{
        background-color: $secondary-color;
        border-radius: 4px;
    }
    .wpte-bf-btn{
        padding: 10px;
    }
}
.trip-facts-value{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 32px 32px 40px 32px;
    background-color: $white;
    box-shadow: 0px 24px 64px 0px rgba(199, 206, 218, 0.25);
    border-radius: 16px;
    gap: 32px;
    margin: 40px 0 !important;
    li{
        padding: 0 !important;
        .wte-trip-fact-icon-wrapper{
            .icon-holder{
                font-size: 20px;
            }
        }
        .wte-trip-fact-content-wrapper{
            label{
                font-family: $body-font;
                color: $black-2;
                font-size: 16px;
                font-weight: 400;
                line-height: 170%;
            }
            .value{
                font-family: $body-font;
                color: $black;
                font-size: 16px;
                font-weight: 400;
                line-height: 170%;
            }
        }
    }
}
.wpte-trip-feat-img-gallery{
    button{
        width: 48px !important;
        height: 48px !important;
        &.owl-prev{
            &:before{
                @include transition;
            }
        }
        &.owl-next{
            &:after{
                @include transition;
            }

        }
        &:hover{
            &.owl-prev{
                &:before{
                    margin-left: -4px;
                    @include transition;
                }
                
            }
            &.owl-next{
                &:after{
                    margin-right: -4px;
                    @include transition;
                }
            } 
        }
    }
}
.wte_enquiry_contact_form{
    border-radius: 16px;
    label{
        color: $black;
        .required{
            color: $secondary-color !important;
        }
    }
    input{
        border-radius: 12px;
    }
}
.wp-travel-engine-info-field{
    label{
        .required{
            display: none !important;
        }
    }
    .wp-travel-engine-info{
        color: $black;
    }
}
.wpte-trip-category{
    .wpte-trip-category-img-wrap{
        border-radius: 16px;
        overflow: hidden;
    }
}
.category-main-wrap{
    width: 100% !important;
    &.category-grid{
        .category-trip-content-wrap{
            flex-direction: column !important;
        }
    }
    &.category-list{
        .category-trip-content-wrap{
            flex-direction: column-reverse !important;
        }
    }
}
.category-trips-single {
    padding: 0 !important;
}
.single-trip{
    .page-breadcrumb-area{
        &.page-bg{
            display: block !important;
        }
    }
}
.routehaven_search_page_wrapper{
    padding: 108px 0;
    @include md{
        padding: 88px 0;
    }
    @include sm{
        padding: 68px 0;
    }
}
.category-main-wrap{
    margin: 0 !important;
}
.wp-travel-engine-archive-outer-wrap{
    .page-header{
        display: none !important;
    }
}
.page-template-template-destination{
    .destination-holder{
        margin: 0 !important;
    }
}


.trip-pagination{
    .nav-links{
        display: flex;
        gap: 12px;
        align-items: center;
        .page-numbers{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 42px;
            &.current{
                background-color: $primary-color !important;
                color: $white !important;
                border-radius: 8px !important;
            }
            &.next{
                color: $primary-color !important;
            }
        }
    }
}